/* GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mont Serrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* CABEÇALHO */
h1, h2 {
color: #ff6a28;
}

span {
  color: rgb(255, 132, 0);
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3)
}

header nav a {
  color: #707070;
  padding: 32px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.25s ease;
}

nav a:hover {
  color: #ff5e00;
  border: none;
}


 /* ESTILO DO RODAPÉ */
 footer {
  background-color: #e8e8e8;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

footer p {
  color: #707070;
  font-size: 0.9rem;
}



